@charset "utf-8";
/* Cascading Style Sheet */
/* Lightbulb Web Services | Lightbulb.Services */
/* Author: Chad Cleveland. Lightbulb Web Services */
/* © Copyright 2021 Lightbulb Web Services. All Rights Reserved. */
/* CSS background image file */

/*
    Last modified: 03/08/2021 12:45:58
*/

.btn-refresh {
    background-image: URL(https://lib.lightbulb.services/img/lws-ico-1.png);
    background-position: right;
    background-size: 300%;
}

.btn-expand {
    background-image: URL(https://lib.lightbulb.services/img/lws-ico-1.png);
    background-position: bottom right;
    transform: rotate(90deg);
    background-size: 300%;
}

.btn-back {
    background-image: URL(https://lib.lightbulb.services/img/lws-ico-4.png);
    background-position-x: 7px;
    background-position-y: -71px;
    background-size: 300%;
    background-repeat: no-repeat;
}

.btn-new-tab {
    background-image: URL(https://lib.lightbulb.services/img/lws-ico-4.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 300%;
}
.btn-info {
    background-image: URL(https://lib.lightbulb.services/img/lws-ico-1.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 300%;
}
.btn-go {
    background-image: URL(https://lib.lightbulb.services/img/lws-ico-1.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 300%;
}
