@charset "utf-8";
/* Cascading Style Sheet */
/* Lightbulb Web Services | Lightbulb.Services */
/* Author: Chad Cleveland. Lightbulb Web Services */
/* © Copyright 2021 Lightbulb Web Services. All Rights Reserved. */

/*
    Last modified: 03/08/2021 12:45:46
*/

/* /////////////////////
        GLOBAL
///////////////////// */

* {
    font-family: 'Open Sans', 'Ubuntu', sans-serif !important;
    letter-spacing: 0.5px;
    line-height: 1.3;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0px;
}
